Java Lehrgang/1298-Templates/src/08_2 XML/v01_Basics/root.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="root" type="rootType" />

	<xsd:complexType name="rootType">
		<xsd:sequence minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="Child" type="childType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="childType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="GrandChild" type="grandChildType" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="grandChildType">
		<xsd:attribute name="name" type="xsd:string" />
	</xsd:complexType>

</xsd:schema>